<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-geasnu8.DBAccounting.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-GEASNU8;user id=;password=;initial catalog=DBAccounting;Persist Security Info=true" />
        <add name="CommonlibHCE.Properties.Settings.DBAccountingConnectionString"
            connectionString="Data Source=DESKTOP-GEASNU8;Initial Catalog=DBAccounting;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>